{
  "title": "Docs",
  "description": "The documents",
  "menu": [
    {"title": "Main", "uri": "/main"}
  ],
  "landingFrameSrc": "",
  "startPage": "main",
  "misprintsChatId": "",
  "yandexMetrikaId": ""
}
